<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MacChu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel='stylesheet' href='/static/css/style.css'>
  </head>
  <body>
    <div class="wrapper">

      <!-- HEADER -->
      <header>
        <div class="netflixLogo">
          <a id="logo" href="{% url 'home' %}"><div id='logo'>MacChu</div></a>
        </div>      
        <nav class="main-nav">                
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'recommend' %}">Beer Recommend</a>
          <a href="{% url 'search_beer' %}">Search Beer</a>
      </header>
      <!-- END OF HEADER -->
      
      <!-- MAIN CONTAINER -->
      <section class="main-container" >
        <div class="location" id="home">
          <h1 id="home">Popular of Beer</h1>
          <div class="box">
            <a href=""><img src="../static/image/beer_images/100.jpg" alt=""></a>
            <a href=""><img src="../static/image/beer_images/101.jpg" alt=""></a>
            <a href=""><img src="../static/image/beer_images/102.jpg" alt=""></a>      
            <a href=""><img src="../static/image/beer_images/103.jpg" alt=""></a>
            <a href=""><img src="../static/image/beer_images/104.jpg" alt=""></a>
            <a href=""><img src="../static/image/beer_images/105.jpg" alt=""></a>
            <a href=""><img src="../static/image/beer_images/106.jpg" alt=""></a>
            <a href=""><img src="../static/image/beer_images/107.jpg" alt=""></a>
          </div>
          <h1 id="myList">Recommended Beer Ranking</h1>
          <div class="box">
            <a href=""><img src="../static/image/beer_images/108.jpg" alt=""></a>
            <a href=""><img src="../static/image/beer_images/109.jpg" alt=""></a>
            <a href=""><img src="../static/image/beer_images/110.jpg" alt=""></a>
            <a href=""><img src="../static/image/beer_images/111.jpg" alt=""></a>
            <a href=""><img src="../static/image/beer_images/112.jpg" alt=""></a>
            <a href=""><img src="../static/image/beer_images/113.jpg" alt=""></a>
            <a href=""><img src="../static/image/beer_images/114.jpg" alt=""></a>
            <a href=""><img src="../static/image/beer_images/115.jpg" alt=""></a> 
          </div>
        </div>
        
        

      </section>
      <!-- FOOTER -->
      
      <footer>
        <p>&copy 2021 MacChu, Inc.</p>
        <p>MacChu &copy 2021</p>
      </footer>
    </div>
  </body>
</html>

<script type='text/javascript'>
  $(function(){
    // $.ajax({
    //   'url':'',
    //   'method':'GET',
    //   'success': function(beer_data, status, xhr){
    //     // Popular of Beer에 맥주 추가
    //     for(var i=0;i<beer_data.length;i++){
    //       $('<img></img>').attr('id', beer_data[i]).attr('src','/static/image/beer_image/'+beer_data[i]+'.jpg').appendTo('#home .box');
    //     }
    //     // Recommended Beer Ranking에 맥주 추가
    //     for(var i=0;i<beer_data.length;i++){
    //       $('<img></img>').attr('id', beer_data[i]).attr('src','/static/image/beer_image/'+beer_data[i]+'.jpg').appendTo('#myList .box');
    //     }
    //   },
    //   'error':function(xhr, status, error){
    //     alert(err);  
    //   }
    // });
    // $('.main-container .location .box').on('click','img', function(){
    //   $.ajax({
    //     'url':'' + $(this).attr('id'),
    //     'method':'GET',
    //     'success': function(beer_data, status, xhr){

    //     },
    //     'error':function(xhr, status, error){
    //             alert(err);
    //     }
    //   });
    // });
    
  });
</script>