<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    



</head>
<body>

<header id="header">
    MaCChu
</header>

<div id="sub1">
    <p id="sub2">당신이 좋아하는 맥주 3개를 선택하세요!</p>
    <p id="sub3">회원님이 좋아하실 만한 맥주를 더 많이 추천해 드릴 수 있습니다. 마음에 드는 맥주를 선택하세요!</p>
    <button id="button-1">딥러닝추천버튼</button>
    <button id="button-2">테스트버튼</button>
</div>

<div id="selected-container">
</div>
<div id="recommended-1">
</div>

<div id="beer-container">
    <img class='beer0' src="../../../static/images/곰표.png">
    <img class='beer0' src="../../../static/images/기린.png">
    <img class='beer0' src="https://www.wine21.com/img/WINE_MST/TITLE/0501000/W0501616.png?082238
    ">
    <img class='beer0' src="../../../static/images/밀러.png">
    <img class='beer0' src="../../../static/images/벡스.png">
    <img class='beer0' src="../../../static/images/테라.png">
    <img class='beer0' src="../../../static/images/핏츠.png">
    <img class='beer0' src="../../../static/images/골뱅이.png">
    <img class='beer0' src="../../../static/images/사포로.png">
    <img class='beer0' src="https://www.wine21.com/img/WINE_MST/TITLE/0500000/W0500956.jpg?587951
    ">
    <img class='beer0' src="../../../static/images/퇴근길.png">
    <img class='beer0' src="../../../static/images/필스너.png">
    <img class='beer0' src="../../../static/images/하이트.png">
    <img class='beer0' src="../../../static/images/민브로우.png">
    <img class='beer0' src="../../../static/images/클라우드.png">
    <img class='beer0' src="../../../static/images/서머스바이.png">
</div>
<div id="recommended-container">
</div>
<div id="ranking-container">

</div>


<script src="../../../static/js/script.js"></script>

</body>
</html>