
#selected-container{
    text-align: center;
    display:block;
}

/* #selected-container img{
} */

#header{
    font-size:30px;
    border-bottom: 1px solid rgb(187, 187, 187);
    padding-bottom: 15px;
    color:rgb(58, 40, 218);
    font-weight:bold
}
#sub1{
    text-align:center;
    padding-bottom:20px;
}
#sub2{
    font-size:20px;
    font-weight:bold;
    margin-bottom:0px;
}
#sub3{
    margin:5px;
    font-size:12px;
}

#button-1{
    margin-top:10px;
}
#beer-container{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border: gray 1px solid;
    max-width:1000px;
}

.beer0{
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
    margin-bottom:15px;
    width: 100px;
    height: 150px;
}
